{
  presets: [
    "@babel/env"
  ],
  env: {
    test: {
      presets: [
        "@babel/env"
      ]
    },
    production: {
      presets: [
        "@babel/env",
        "minify"
      ],
    }
  }
}
